# Dependencias PHP
/vendor/

# Dependencias Node
/node_modules/
/npm-debug.log
/yarn-error.log
/pnpm-debug.log

# Archivos de entorno
.env
.env.*
!.env.example

# Compilados y caches de Laravel
/storage/*.key
/storage/app/public
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

# Compilados de Vite
/public/hot
/public/build
/public/mix-manifest.json

# Archivos de IDE/OS
/.idea
/.vscode
/.DS_Store
Thumbs.db
